{% extends "layouts/base.njk" %}
{% set showHeaderBio = true %}

{% block content %}
  <section style="margin-top: 0;">
    <ul class="post-list">
      {% for post in collections.post %}
        <li>
          <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
          <div class="post-meta">
            {% if post.date %}
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: text-bottom; margin-right: 0.3rem;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                <path d="M16 3v4"></path>
                <path d="M8 3v4"></path>
                <path d="M4 11h16"></path>
                <path d="M7 14h.013"></path>
                <path d="M10.01 14h.005"></path>
                <path d="M13.01 14h.005"></path>
                <path d="M16.015 14h.005"></path>
                <path d="M13.015 17h.005"></path>
                <path d="M7.01 17h.005"></path>
                <path d="M10.01 17h.005"></path>
              </svg>
              <time datetime="{{ post.date | htmlDateString }}">
                {{ post.date | readableDate }}
              </time>
            {% endif %}
          </div>
          {% if post.data.subtitle %}
            <p class="post-subtitle">{{ post.data.subtitle }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
